{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.photo | media_filter }}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a type="button" class="btn btn-lg btn btn-outline-warning" href="#">Купить</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}