{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
        продать</p>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for version in object_list %}
        <div class="col">
            <div class="card text-center" style="width: 18rem;">

                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ version.version_number }}</h4>
                </div>
                <div class="card-body">
                    <p class="fst-italic">{{ version.version_name | name_filter }}</p>
                    <h1 class="card-title pricing-card-title">{{ version.product }} руб.</h1>
                    <a type="button" class="btn btn-lg btn btn-outline-warning"
                       href="{% url 'catalog:version_detail' version.pk %}">Подробнее</a>
                    <a type="button" class="btn btn-lg btn btn-outline-warning"
                       href="{% url 'catalog:version_update' version.pk %}">Изменить</a>
                    <a type="button" class="btn btn-lg btn btn-outline-warning"
                       href="{% url 'catalog:version_delete' version.pk %}">Удалить</a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
<a type="button" class="btn btn-secondary" href="{% url 'catalog:version_create' %}">Добавить версию</a>
{% endblock %}